@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.Titulo_principal {
background-color: #8b6f1e;
color: white;
}

.Titulo_secundario {
background-color: #2f4f2f;
color: white;
}

#layout {
    font-size: 1em;/*herda o tamanho do pai (body) dele com um multiplicador*/
    display: flex;
    flex-direction: column;/*Usado para definir a direção dos elementos que são filhos de um display flex*/
    font-style: normal;/*estilo da fonte: italic - normal - oblique*/
    line-height: 30px;/*espaçamento entre linhas*/
    font-weight: 400;/*Intensidade do negrito: pode usar 100 a 900 - bold e bolder*/
    text-transform: none;/*Captalização do texto: uppercase - lowercase - captalize (primeira letra em maiusculo)*/
    text-decoration: none;/*Sublinhado de texto no css: double - dashed - dotted - wavy - none - underline ou overline doble*/
    word-spacing: none;/*espaçamento entre palavras: pode usar em pixel(px)*/
    letter-spacing: none;/*espaçamento entre letras*/
    text-indent: 20px;/*Espaçamento de paragrafo primeira linha.*/
    text-align: justify;/*Alinhamento do texto: center - left - right e justify e center*/
    /*border-style: dashed;/*Borda do elemento: solid - dashed - dotted - double - groove - inset - outset - none -ridge*/
    /*border-width: 5px;/*Largura da borda: pode usar em pixel(px) ou em 1em*/
    /*border-color: rgb(52, 235, 164);/*Cor da borda: pode usar em rgb ou em hexadecimal*/
    border:dashed 5px rgb(52, 235, 164);/*Definir estilo, espessura e corq numa mesma linha*/
    border-top: dotted 10px rgb(94, 2, 63);/*Definir estilo, espessura e cor somente para a borda superior*/
    border-left: dotted 20px rgb(94, 2, 63);/*Definir estilo, espessura e cor somente para a borda esquerda*/
    border-bottom: solid 15px #fff000;/*Definir estilo, espessura e cor somente para a borda inferior*/
    /*border-right: ;solid 25px #fff000;/*Definir estilo, espessura e cor somente para a borda direita*/
    border-radius: 50px;/*Arredondar cantos da borda - px - %*/
    margin: 20px;/*Margem do lado de fora da borda*/
    margin-left: 20px;/*Margem do lado de fora da borda somente para o lado esquerdo*/
    margin-top: 20px;/*Margem do lado de fora da borda somente para o lado superior*/
    margin-bottom: 20px;/*Margem do lado de fora da borda somente para o lado inferior*/
    margin-right: 20px;/*Margem do lado de fora da borda somente para o lado direito*/
    padding: 20px;/*Margem dentro da borda */
    padding-left: 20px;/*Margem dentro da borda somente para o lado esquerdo*/
    padding-top: 20px;/*Margem dentro da borda somente para o lado superior*/
    padding-bottom: 20px;/*Margem dentro da borda somente para o lado inferior*/
    padding-right: 20px;/*Margem dentro da borda somente para o lado direito*/      

}

.rodape {
    text-align: center;
}
body{
    /*topografia css*/
    background-color: rgb(0,0,0);/*cor do fundo*/
    color: rgb(255, 255, 255);/*cor da fonte*/
    font-family: "Roboto", sans-serif;/*fonte do texto*/
    font-size: 16px;/*tamanho da fonte = pode ser em px. em .rem*/
}

nav a{
    text-decoration: none;
    color: white;
}

nav a:hover{
    color: black;
    opacity: 0.7;
}

.transicao{
    background-color: white;
    border: solid 3px red;
    color: black;
    width: 300px;
    height: 300px;
    transition-duration: 3s;/*define o tempo de transição*/
    transition-property: width;/*define quais propriedades css irão entrar na transição (nome das propriedades /all)*/
    transition-delay: 0.5s; /*Delay para iniciar a transição*/
    transition-timing-function: ease-in;/*ease-in, ease-out, linear, ease, ease-in-out*/
}

.transicao:hover{
    background-color: pink;
    width: 600px;
    color: blue;
}

#email:focus{
    background-color: green;
    color: white;
}

#teste_estilo_lista_ul{
    list-style-type: none;/* circle - square - disc - none, define o estilo de marcadir da lista não ordenada*/
}
#teste_estilo_lista_ol{
    list-style-type: lower-alpha;/*decimal - lower-roman - upper-roman - lower-greek - lower-alpha - upper-alpha - define o estilo de marcadores de lista ordenadas*/
    list-style-image: url('img/seta_direita_vermelha.png');
}

li{
    border: solid 3px orange;
    list-style-position: outside;/* Ele serve para dizer ao navegador se o marcador da lista faz aparte ou não do texto da lista: inside - outside*/
}

#impacto{
    /*background: url('img/senhordosaneis_fundo.jpg') no-repeat; resume a imagem de fundo e repetição em uma linha*/
    background-image: url('img/senhordosaneis_fundo.jpg');/*Carrega imagem ao fundo do elemento html*/
    background-repeat: no-repeat;/*repeat - repeat-x - repeat-y - no-repeat Configura a forma como a imagem ira repetir no fundo do elemento html*/
    /*background-position: center;/*right - left - center - top - bottom e pode dois ao mesmo tempo*/
    /*width: 2000px;/*Largura do elemento: pode usar em pixel(px) ou em 1em*/
    /*height: 1500px;/*Altura do elemento: pode usar em pixel(px*/
    background-size: cover;/*Serve para definir como a imagem será exibida ao fundo do elemento html - contain - cover - pixels - % - auto*/
    background-attachment: fixed;/*Define como a imagem vai lidar com o scroll ao fundo do elemento html - scroll - fixed  */
    text-shadow: 3px 3px 2px red; /*Define a sombra do texto */
    position: relative;
}

.noticia{
    border: solid 3px white;
    width: 200px;
    position: fixed;/*Define o possicionamento atras ou na frente dos elementos html - static - relative - fixed - absolute*/
    height: 100px;
    overflow: auto;/*Configura o comportamento de quando por exemplo um texto passa das bordas de um elemnto html (da um overflow) visível - hidden - scroll - auto*/
    box-shadow: 3px 3px 3px 3px orange;/*Define a sombra de um elemento html de bloco- inset - none - h-offset v-offset blur color*/
}

h1{
    animation-name: multicolor;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-fill-mode: forwards;/*forwards - backwards*/
    animation-iteration-count: 3; /*Quantidade de animações vezes/infinite*/

}

@keyframes multicolor{
    from{color: red;}
    to{color: blue;} 
}

.animacao img{
    display: block;
    animation: foguete;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes foguete{
    0%{margin-left: 0%}
    25%{margin-left: 80%; transform: rotate(0deg)}
    50%{margin-left: 80%; transform: rotate(-100deg)}
    75%{margin-left: 0%; transform: rotate(-100deg)}
    100%{margin-left: 0%; transform: rotate(0deg)}
}

.um{
    background-color: blue;
    top: 0px;
    left: 30px;
    z-index: 3;/*Define a ordem que o elemento vai ficar um atras dos outros*/
}

.dois{
    background-color: red;
    top: 40px;
    left: 70px;
}

.tres{
    background-color: green;
    top: 80px;
    left: 100px;
}

#teste-gradiente{
    background-image: linear-gradient(to right, blue, white);/*Definir gradiente no css to right, to bottom, to left, to top ou em fraus(xdeg) quando é um fradiente de circulo eu uso o radial-gradiente*/
    color: rgb(52, 235, 164);
    height: 500px;
    cursor: zoom-in;/*Ela altera o cursor do mouse em cima do elemento html*/
    
}
/*.teste_display{
    background-color: orange;
    display: inline-block;/*inline - block - inline-block*/
    /*width: 200px;/*Largura do elemento: pode usar em pixel(px) ou em 1em*/